# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.Script.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\knolb\Documents\MaFolder\p3\Unity\Coroutines\Assets\Script\.idea\.idea.Script.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
